.article-container{
    display: block;
    box-sizing: border-box;
    position: relative;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em 1em;
    border: 1px solid #000;
}

.article-container .title{
    text-align: left;
    padding-top: 12pt;
}
.article-container .text{
    text-align: center;
    padding-top: 6pt;
}
